<h1 class="page-header">General Statistics</h1>
<div class="well">
  <div class="h4">
    Total number of <%= link_to 'products', :admin_products %>: <%= @total_products %>
  </div>
  <div class="h4">
    Total number of <%= link_to 'categories', :admin_categories %>: <%= @total_categories %>
  </div>
</div>
